@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("Open Sans.ttf") format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("bg.png");
	font-family: 'Open Sans';
}

#header {
	font-size: 16px;
	color: #bbb;
	width: 960px;
	display: inline-block;
	text-align: left;
	margin-top: 100px;
}

#by:hover {
	color: #ccc;
}

#nav {
	float: right;
}

#nav > a {
	text-decoration: none;
	color: #bbb;
}

#wrapper {
	text-align: center;
}

#cont {
	background-color: #333;
	width: 960px;
/*	height: 300px;*/
	margin-top: 13px;
	display: inline-block;
	text-align: justify;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#natcont {
	background-color: #333;
	width: 960px;
	height: auto;
	padding-bottom: 30px;
	margin-top: 13px;
	display: inline-block;
	text-align: justify;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#txt {
	color: #bbb;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: -1px;
	display: inline-block;
	width: 450px;
}

#title {
	margin-top: 45px;
	margin-left: 30px;
}

#text {
	padding: 20px 0px 20px 0px;
	display: inline-block;
	margin-left: 30px;
	width: 860px;
	color: #777;
	font-size: 15px;
	line-height: normal;
	text-align: left;
	letter-spacing: 0px;
	font-weight: 300;
}

#white {
	cursor: pointer;
	font-size: 15px;
	color: #bbb;
}

#sublink {
	padding-left: 30px;
	color: #bbb;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 0px;
}

#sublink:hover {
	color: #ddd;
}

#link {
	color: #bbb;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 0px;
	cursor: pointer;
}

#link:hover {
	color: #ddd;
}

#slide {
/*	float: right;*/
	float: left;
	margin-left: 460px;
}

#pic1 {
	position: absolute;
	display: inline;
/*	left: 0;*/
}

b {
	font-weight: 900 !important;
	font-style: italic;
	font-size: 14px;
}

.warn {
	font-size: 20px !important;
	color: darkred !important;
	background-color: rgb(125, 125, 125);
	padding: 20px !important;
	padding-top: 12px !important;
	margin-top: 15px;
	padding-bottom: 12px !important;
/*	margin-bottom: 15px !important;*/
	border: 1px solid #111;
	width: 860px !important;
}

#footwrap {
	text-align: center;
}

.footer {
/*	margin-top: 95px;*/
	margin-top: 5px;
	margin-left: 5px !important;
	padding-bottom: 3px !important;
	padding-top: 0px !important;
	color: #bbb !important;
	text-decoration: none !important;
	width: 960px !important;
}

.footer:hover {
	color: #ddd !important;
}

#upornot {
	position: absolute !important;
	clip: rect(73px,125px,95px,15px) !important;
	display: inline;
	margin-top: -72px;
	margin-left: -5px;
}

#nav > a:hover {
	color: #ddd;
	cursor: pointer;
}

#mapmenu {
	background-color: green;
	text-align: right;
	padding-right: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	display: none;
}

#mlink {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

#mlink:hover {
	color: #333;
}
